@using Toolbelt.Blazor.WebAssembly.PrerenderServer
@using Toolbelt.Blazor.WebAssembly.PrerenderServer.WebHost
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject BlazorWasmPrerenderingOptions BlazorWasmPrerenderingOptions
@inject ResetHeadOutletScript ResetHeadOutletScript
@Html.Raw(BlazorWasmPrerenderingOptions.IndexHtmlFragments.FirstPart)
@if (BlazorWasmPrerenderingOptions.HeadOutletComponentType != null) {<!-- %%-PRERENDERING-HEADOUTLET-BEGIN-%% -->
<component type="BlazorWasmPrerenderingOptions.HeadOutletComponentType" render-mode="Static" />
<!-- %%-PRERENDERING-HEADOUTLET-END-%% -->
<script src="data:text/javascript;base64,@ResetHeadOutletScript.Base64Text"></script>
}
@Html.Raw(BlazorWasmPrerenderingOptions.IndexHtmlFragments.MiddlePart)
<!-- %%-PRERENDERING-BEGIN-%% -->
@if (BlazorWasmPrerenderingOptions.DeleteLoadingContents) {
    @RenderBody()
}
else
{
<div style="opacity: 0; position: fixed; z-index: -1; top: 0; left: 0; bottom: 0; right: 0;">
    @RenderBody()
</div>
}
<!-- %%-PRERENDERING-END-%% -->
@Html.Raw(BlazorWasmPrerenderingOptions.IndexHtmlFragments.LastPart)