@using Microsoft.AspNetCore.Components
@using Toolbelt.Blazor.WebAssembly.PreRendering.Build.WebHost
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject ServerSideRenderingContext PrerenderingContext
@Html.Raw(PrerenderingContext.IndexHtmlFragments.FirstPart)
@if (PrerenderingContext.HeadOutletComponentType != null) { if (PrerenderingContext.RenderMode != RenderMode.WebAssemblyPrerendered) {<!-- %%-PRERENDERING-HEADOUTLET-BEGIN-%% -->
}
<component type="PrerenderingContext.HeadOutletComponentType" render-mode="@PrerenderingContext.RenderMode" />
if (PrerenderingContext.RenderMode != RenderMode.WebAssemblyPrerendered) {<!-- %%-PRERENDERING-HEADOUTLET-END-%% -->
}}
@Html.Raw(PrerenderingContext.IndexHtmlFragments.MiddlePart)
@if (PrerenderingContext.DeleteLoadingContents) {
<!-- %%-PRERENDERING-BEGIN-%% -->
@RenderBody()
<!-- %%-PRERENDERING-END-%% -->
}
else
{
<!-- %%-PRERENDERING-LOADER-BEGIN-%% -->
<div b-prerendering-loader style="position: fixed; inset: 0; z-index: 1; background-color: Canvas;">
<!-- %%-PRERENDERING-LOADER-END-%% -->
@Html.Raw(PrerenderingContext.IndexHtmlFragments.LoaderPart)
<!-- %%-PRERENDERING-LOADER-BEGIN-%% -->
</div>
<div b-prerendering-container inert style="position: fixed; inset: 0; overflow: hidden;">
<!-- %%-PRERENDERING-LOADER-END-%% -->
<!-- %%-PRERENDERING-BEGIN-%% -->
@RenderBody()
<!-- %%-PRERENDERING-END-%% -->
<!-- %%-PRERENDERING-LOADER-BEGIN-%% -->
</div>
<!-- %%-PRERENDERING-LOADER-END-%% -->
}
@if (PrerenderingContext.RenderMode == Microsoft.AspNetCore.Mvc.Rendering.RenderMode.WebAssemblyPrerendered && typeof(ComponentBase).Assembly.GetName().Version!.Major >= 6) {<persist-component-state />}
@Html.Raw(PrerenderingContext.IndexHtmlFragments.LastPart)