@using Microsoft.AspNetCore.Components
@using Toolbelt.Blazor.WebAssembly.PreRendering.Build.WebHost
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject ServerSideRenderingContext PrerenderingContext
@Html.Raw(PrerenderingContext.IndexHtmlFragments.FirstPart)
@if (PrerenderingContext.HeadOutletComponentType != null) { if (PrerenderingContext.RenderMode != RenderMode.WebAssemblyPrerendered) {<!-- %%-PRERENDERING-HEADOUTLET-BEGIN-%% -->
}
<component type="PrerenderingContext.HeadOutletComponentType" render-mode="@PrerenderingContext.RenderMode" />
if (PrerenderingContext.RenderMode != RenderMode.WebAssemblyPrerendered) {<!-- %%-PRERENDERING-HEADOUTLET-END-%% -->
}}
@Html.Raw(PrerenderingContext.IndexHtmlFragments.MiddlePart)
<!-- %%-PRERENDERING-BEGIN-%% -->
@if (PrerenderingContext.DeleteLoadingContents) {
    @RenderBody()
}
else
{
<div style="opacity: 0; position: fixed; z-index: -1; top: 0; left: 0; bottom: 0; right: 0;">
    @RenderBody()
</div>
}
<!-- %%-PRERENDERING-END-%% -->
@if (PrerenderingContext.RenderMode == Microsoft.AspNetCore.Mvc.Rendering.RenderMode.WebAssemblyPrerendered && typeof(ComponentBase).Assembly.GetName().Version!.Major >= 6) {<persist-component-state />}
@Html.Raw(PrerenderingContext.IndexHtmlFragments.LastPart)